/* Importing of fonts and icons */
@import url(http://fonts.googleapis.com/css?family=Raleway:600,700,400|Open+Sans:300italic,400italic,400,300,700|Oswald:400,700,300);

/* General styles */

html, body {
  overflow: hidden;
  background-color: #212121;
}

section {
    height: 25%;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    background-repeat: no-repeat;
    -webkit-transition: 1s ease;
    color: #FFF;
}

section * {
    opacity: 0;
    transition: 1s ease;
}

section.visible * {
    opacity: 1;
    transition: .6s ease;
}

section.folded {
  height: 100% !important;
  -webkit-transition: 1s ease;
}

.slidetext, h1.start {
    font-size: 60px;
    font-family: Oswald, sans-serif;
    color: #FFF;
    text-shadow: 0px 2px 0px #000;
    text-align: center;
    opacity: 0;
    width: initial;
    -webkit-transition: 0.5s all;
    background-color: rgba(25, 25, 25, 0.75);
    font-weight: 100;
}

h1.start {
  opacity: 1;
  position: fixed;
  width: 100%;
  top: 50%;
  height: 180px;
  margin-top: -90px;
}

.visible .slidetext {
    opacity: 1;
    -webkit-transition: 0.5s all;
}


.next {
    text-align: center;
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin-left: -50px;
    transition: 1s all;

}

.next div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 100%;
    background-color: rgba(25, 25, 25, 0.8);
}

.next div span {
    line-height: 100px;
    font-size: 50px;
    color: #AAA;
    font-family: Open Sans;
    font-weight: 100;
    letter-spacing: -3px;
    position: relative;
    left: -1px;
}

.back {
    transform: rotate(180deg);
    transition: 1s all ease 2.5s;
}

/* Slide styles */

.hey {
    background-image: url('images/groningen.jpg');
}

.whoami {
    background-image: url('images/midnight.jpg');
}

.create {
    background-image: url('images/sparkle.jpg');
}

.tech {
    background-image: url('images/motherboard.jpg');
}

.me {
    background-image: url('images/road.jpg');
}







.faceholder {
    width: calc(50% - 30px);
    height: 500px;
    margin-top: -250px;
    margin-left: 30px;
    text-align: center;
    float: left;
    display: inline;
    position: relative;
    top: 50%;
}

.faceholder img {
    border-radius: 100%;
    border: solid 5px #96AA48;
    width: 300px;
    margin: auto;
    display: block;
}

.faceholder div {
    font-size: 20px;    
    display: inline-block;
    text-align: center;
    position: relative;
    top: 120px;
    background-color: rgba(25, 25, 25, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.facetext {
    float: right;
    margin-top: 70px !important;
}

p {
    padding: 30px;
}

div.center {
    margin: 0 auto;
    max-height: calc(100% - 300px) !important;
    margin-top: 35px;
}

p.center {
    text-align: center;
    height: 110px;
    position: absolute;
    top: 50%;
    margin-top: -110px;
}

p {
    text-shadow: 0px -1px 0px #000;
    font-size: 20px;
    color: #E1E1E1;
}

.plateau {
    width: calc(50% - 32px);
    margin-right: 30px;
    height: calc(100% - 150px);
    margin-top: 30px;
/*    background-color: rgba(148, 148, 148, 0.8);*/
    background-color: rgba(33, 33, 33, 0.8);
    border: solid 1px #444;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 3px 30px 0px #333;
}

h2 {
    font-family: Oswald, sans-serif;
    font-weight: 100;
    font-size: 35px
}

h2.center {
    text-align: center;
}

div.buttons ul {
    list-style: none;
    padding: 0px;
    width: 90%;
    margin: 50px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}



div.buttons ul li {
    float: left;
    width: 200px;
    height: 200px;
    display: inline;
    text-align: center;
    line-height: 200px;
    border-radius: 100%;
    position: relative;
}

div.description {
    max-width: 30%;
    display: inline-block;
    float: left;
    margin-top: 10px;
    opacity: 0;
}

div.description p, div.description h1 {
    margin: 0 30px;
}

.screenshot {
    display: inline-block;
    margin: 0 !important;
    width: calc(70% - 65px) !important;
    margin-top: 10px !important;
    opacity: 0 !important;
}

.showcase .pane {
    width: 80%;
    margin: 0 auto;
}

.visible {
    opacity: 1 !important;
}

.description h1 {
    font-family: Open Sans;
    font-weight: 100;
    margin: 20px !important;
}

hr {
    border-color: #AAA;
}

.buttons li > span {
    position: absolute;
}

.ion-social-github {
    top: -1px;
    left: 11px;
    font-size: 200px;
    color: rgba(0, 0, 0, 0.7);
}

.ion-email {
    font-size: 200px;
    left: 18px;
    top: 2px;
    color: rgba(255, 255, 255, 0.3)
}

.buttons .nw-electron {
    background-color: rgba(69, 130, 142, 0.7);
}

.buttons .node {
    background-color: rgba(128, 189, 1, 0.7);
}

.buttons .html-css {
    background-color: rgba(288, 77, 38, 0.7);
}

.buttons .unity {
    background-color: rgba(41, 229, 183,  0.7);
}

.buttons .haxe {
    background-color: rgba(234, 130, 32, 0.7);
}

.buttons .pen-paper {
    background-color: rgba(228, 224, 213, 0.7);
}

.buttons .github {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.buttons .email {
    background-color: rgba(30, 122, 215, 0.7);
}
