/* Importing of fonts and icons */
@import url(http://fonts.googleapis.com/css?family=Raleway:600,700,400|Open+Sans:300italic,400italic,400,300,700|Oswald:400,700,300);

/* General styles */

html, body {
  overflow: hidden;
  background-color: #212121;
}

section {
    height: 20%;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    -webkit-transition: 1s ease;
}

section.folded {
  height: 100% !important;
  -webkit-transition: 1s ease;
}

.slidetext, h1.start {
    font-size: 60px;
    font-family: Oswald, sans-serif;
    color: #FFF;
    text-shadow: 0px 2px 0px #000;
    text-align: center;
    opacity: 0;
    width: initial;
    -webkit-transition: 0.5s all;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: 100;
}

h1.start {
  opacity: 1;
  position: fixed;
  width: 100%;
  top: 50%;
  height: 150px;
  margin-top: -75px;
}

.visible .slidetext {
    opacity: 1;
    -webkit-transition: 0.5s all;
}


.next {
    text-align: center;
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin-left: -50px;
    transition: 1s all;

}

.next div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.next div span {
    line-height: 100px;
    font-size: 50px;
    color: #AAA;
    font-family: Open Sans;
    font-weight: 100;
    letter-spacing: -3px;
    position: relative;
    left: -1px;
}

.back {
    transform: rotate(180deg);
    transition: 1s all ease 2.5s;
}

/* Slide styles */

.hey {
    background-image: url('images/groningen.jpg');
}

.whoami {
    background-image: url('images/midnight.jpg');
}

.create {
    background-image: url('images/sparkle.jpg');
}

.tech {
    background-image: url('images/motherboard.jpg');
}

.me {
    background-image: url('images/road.jpg');
}
