<div class="box {{ include.box }}">
  <div class="overlay">
    {% if include.thumb %}
    <div class="overlayimage" style="background-image: url('{{ include.thumb }}')"></div>
    {% else %}
    <div class="overlayimage" style="background-image: url('{{ site.headshot }}')"></div>
    {% endif %}
  </div>

  {% for slide in site.data.slides %}
    <div class="{{ slide.id }}" style="background-image: url('{{ slide.background }}')">
      <h1>{{ slide.title }}</h1>
      <div class="slide">

        {% capture markdown %}{% include slides/{{ slide.id }}.md %}{% endcapture %}

        {{ markdown | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
