// Blog styles
// ---------------------------------------/

html {
  background-color: #5F5F5F;
}

.page-content {
  background-color: rgba(253, 253, 253, 0.95);
  width: 700px;
  margin: 145px auto;

  .box {
    margin: 0 auto;
    z-index: 2;
    position: relative !important;

    &.small {
      height: 200px;
      width: 200px;
      position: static;
      top: initial;
      left: initial;
      transform: translate(0, -50%) rotate(45deg);

      &:hover {
        transform: translate(0, -50%) rotate(0deg);
      }
    }
  }
}

.wrapper {
  padding-bottom: 5px;

  &.post {
    margin-top: -55px;

    h1 {
      font-size: 36px;
      letter-spacing: 4px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
    }

    code {
      padding: 2px;
      background-color: #EEF;
      border-radius: 2px;
    }
  }

  &.index {
    margin-top: -160px;
  }

}

.readingtime {
  text-align: center;
  color: #4f4f4f;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}

ul.posts {
  list-style: none;
  padding: 0px;

  li {
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    border: solid 5px rgba(253, 253, 253, 0.7);
    transition: .3s ease;
    margin-bottom: 20px;

    a {
      display: block;
      height: 100%;
      width: 100%;
    }

    &:hover {
      border: solid 5px rgba(253, 253, 253, 0.2);
      transition: .3s ease;
    }

    h1 {
      color: #FFF;
      text-transform: uppercase;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
      position: absolute;
      left: 10px;
      bottom: -12px;
    }
  }
}
