// Blog styles
// ---------------------------------------/

html {

}

a:visited {
  color: inherit;
}

#background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  background-size: cover;
  background-color: #313131;
  opacity: 1;
  transition: 1s ease;

  &.repeat {
    background-size: initial;
  }

  &.fade {
    opacity: 0;
    transition: 1s ease;
  }
}

.page-content {
  background-color: rgba(253, 253, 253, 0.95);
  width: 700px;
  margin: 0 auto;
  padding: 0px 60px;
  margin-top: 300px !important;
  margin-bottom: 120px;
  border-radius: 1px;
  box-shadow: 1px 0px 4px rgba(20, 20, 20, 0.3);
  position: relative;

  .box {
    margin: 0 auto;

    &.small {
      height: 200px;
      width: 200px;
      position: static;
      top: initial;
      left: initial;
      transform: translate(0, -50%) rotate(45deg);

      &:hover {
        transform: translate(0, -50%) rotate(0deg);
      }
    }
  }
}

.wrapper {
  padding: 0px;
  padding-bottom: 50px;

  &.post {
    margin-top: -55px;
    color: #111;
    font-size: 16px;
    font-weight: 400;
    font-family: $content-font;
    position: static !important;
    top: initial;
    left: initial;

    h1 {
      font-size: 42px;
      letter-spacing: 4px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
      font-family: $header-font !important;
    }

    code {
      padding: 2px;
      background-color: #EEF;
      border-radius: 2px;
    }

    code, pre {
      font-family: $mono-font;
    }
  }

  &.index {
    margin-top: -55px;
  }

}

#meta {
  ul {
    list-style: none;
    padding: 0px;

    li {
      width: 50%;
      float: left;
    }

    h4 {
      border-top: solid 3px #96aa48;
      width: 70px;
      padding-top: 15px;
    }
  }
}

.share {
  clear: both;
  padding-top: 28px;
}

.readingtime {
  text-align: center;
  color: #4F4F4F;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-family: $content-font;
  margin-top: 24px;
}

ul.posts {
  list-style: none;
  padding: 0px;

  li {
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    border: solid 5px rgba(253, 253, 253, 0.7);
    transition: .3s ease;
    margin-bottom: 20px;

    a {
      display: block;
      height: 100%;
      width: 100%;
    }

    &:hover {
      border: solid 5px rgba(253, 253, 253, 0.2);
      transition: .3s ease;
    }

    h1 {
      color: #FFF;
      text-transform: uppercase;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
      position: absolute;
      left: 10px;
      bottom: -12px;
    }
  }
}

#back {
  position: absolute;
  left: 15px;
  top: 22px;
  color: #C1C1C1;
  transition: .3s ease;
  text-decoration: none;

  &:hover {
    color: #010101;
    transition: .3s ease;
  }

  &::before {
    content: '➔';
    display: inline-block;
    transform: rotate(180deg);
    margin-right: 10px;
    line-height: -5px;
    position: relative;
    top: -1px;
  }
}

.author {
  text-align: center;
  position: absolute;
  top: 10px;
  right: 35px;

  > div {
    height: 50px;
    width: 50px;
    background-size: contain;
    background-position: center;
    border-radius: 100%;
    display: inline-block;
    // float: left;
  }

  sup {
    top: -20px;
    left: 10px;
  }
}
