// Magix box styles
// ---------------------------------------/

.box {
  height: 500px;
  width: 500px;
  position: absolute;
  z-index: 1;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 1s ease;

  &:hover {
    transition: 1s ease;
    transform: rotate(0deg) translate(-50%, -50%);

    .overlay {
      transition: 1s ease;
      opacity: 0;
    }
  }

  &.unfolded {
    transform: translate(-50%, -50%);
    top: 30%;
    margin: 50px auto;

    .overlay {
      display: none;
    }
  }

  a {
    color: #E04D4D;
  }

  p {
    text-align: justify;
  }

  .overlay {
    position: absolute;
    z-index: 1;
    height: 200px;
    width: 200px;
    margin: 50% 50%;
    transform: translate(-50%, -50%);

    border: solid 2px #96AA48;
    background-size: cover;
    transition: 1s ease;

    .overlayimage {
      height: 275px;
      width: 275px;
      transform: rotate(-45deg) translateY(-21%);
      background-position: center !important;
      opacity: 1;
      background-size: cover;
    }
  }

  > div {
    transition: 1s ease;
    height: 25%;
    background-size: cover;
    overflow: hidden;

    p, li {
      font-family: $content-font;
      font-size: $body-font-size;
    }

    &.unfolded {
      transition: 1s ease;
      height: auto;

      * {
        opacity: 1;
      }
    }

    * {
      transition: .3s ease;
      opacity: 0;
    }

    h1 {
     color: #FFF;
     padding: 0px;
     margin: 0px;
     text-align: center;
     line-height: 132px;
     text-transform: uppercase;
     text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
     opacity: 1;
     cursor: pointer;
     font-family: $header-font;
    }

    h3 {
      font-family: $header-font;
    }
  }
}

.box div {
  position: relative;

  .slide {
    margin: 0px 20px;
    padding: 1px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #F1F1F1;
    bottom: 20px;
    min-height: 120px;
  }
}

.contactbuttons {
  justify-content: space-around;
  display: flex;
  padding-bottom: 20px;
  position: relative;

  a {
    color: #C1C1C1 !important;
    text-decoration: none;
    font-family: $body-font;
    text-align: center;
    line-height: 75px;
    font-weight: bold;
    font-size: 25px;
  }

  div {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    height: 75px;
    width: 75px;
  }
}

.project {
  opacity: 0 !important;
  transition: 1s ease;
  height: 0px !important;

  &.selected {
    transition: 1s ease;
    opacity: 1 !important;
    height: auto !important;
  }

  img {
    max-height: 350px;
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }
}

.portfoliogrid {
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;

  div {
    height: 150px;
    width: 150px;
    background-size: cover;
    display: inline-block;
  }
}

#bloghint {
  height: 200px;
  width: 200px;
  bottom: 0px;
  right: 0px;
  position: fixed;
  color: #F9F9F9;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: 50% 50%;
  font-family: $header-font;
  border-top-left-radius: 100%;
  transition: .3s ease;
  text-align: center;

  &:hover {
    transition: .3s ease;
    height: 240px;
    width: 240px;
  }

  a {
    display: block;
    height: 100%;
    width: 100%;
    color: #F9F9F9;
  }

  h1, h2 {
    position: relative;
    top: 50px;
    left: 10px;
    // display: none;
    // transform: rotate(-45deg);
  }
}

@media (max-width: 720px) {
  .box {
    transform: initial !important;
    margin: initial;
    position: absolute;
    width: 100%;
    height: auto;

    top: 0px;
    bottom: 0px !important;
    left: 0px;

    &.unfolded {
      position: absolute !important;
      top: 0px;
      margin: 0px;

      > div {

      }
    }

    .overlay {
      display: none;
    }

    > div {
      height: 25%;

      h1 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  #bloghint {
    display: none;
  }
}
