<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


    <div class="page-content">
      {% include box.html box="small" %}
      <div class="wrapper index">
        <ul class="posts">
        {% for post in site.posts %}
          <li style="background-image: url('{{ post.thumb }}')">
            <a href="{{ post.url }}">
              <h1>{{ post.title }}</h1>
              <!-- <p>{{ post.content | truncatewords: post.preview  }}</p> -->
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
