<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="background" class="fade"></div>
    <div class="page-content">

      <a href="/blog" id="back">Back to the Blog</a>
      {% assign author = site.data.authors[page.author] %}
      <div class="author">
        <div style="background-image: url('{{ author.avatar }}')"></div>
        <sup>By {{ author.fullname }}</sup>
      </div>

      {% include box.html box="small post" thumb=page.thumb %}
      <div class="wrapper post">
        <p class="readingtime">&#126;
          {% capture words %}
            {{ content | number_of_words }}
          {% endcapture %}
          {% unless words contains "-" %}
            {{ words | plus: 180 | divided_by: 180 | append: " min" }}
          {% endunless %}
        </p>

        <h1>{{ page.title }}</h1>
        {{ content }}

        <div id="meta">
          <ul>
            <li>
              <h4>Date</h4>
              {{ page.date | date_to_long_string }}
            </li>
            <li>
              <h4>Categories</h4>
              {% for category in page.categories %}
                {{ category | capitalize }}
              {% endfor %}
            </li>
            <li>
              <h4>Tags</h4>
              {% for tag in page.tags %}
                {{ tag | capitalize }}
              {% endfor %}
            </li>
          </ul>
        </div>

        <div class="share">
          {% include share.html %}
        </div>

      </div>
    </div>
    <script type="text/javascript">backstretch("{{ page.backgrounds.first }}")</script>
  </body>
</html>
