<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


    <div class="page-content">
      {% include box.html box="small post" thumb=page.thumb %}
      <div class="wrapper post">
        <p class="readingtime">&#126;
          {% capture words %}
            {{ content | number_of_words }}
          {% endcapture %}
          {% unless words contains "-" %}
            {{ words | plus: 180 | divided_by: 180 | append: " min" }}
          {% endunless %}
        </p>

        <h1>{{ page.title }}</h1>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
